<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InstaLike</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main">
        <header>
            <a href="/"></a>
        </header>
        <div class="user">
            <partial name="~/Views/Shared/_LoginPartial.cshtml" />
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - InstaLike</p>
        </footer>
    </div>

    <div class="popup">
        <a class="popup-close" href="#">&times;</a>
        <div class="popup-content"></div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=">
        </script>
    </environment>
    <script type="text/javascript" src="~/js/InstaLike.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
