@using InstaLike.Web.Extensions

@if (User.Identity.IsAuthenticated)
{
    <ul>
        <li class="btn_share">
            <a asp-action="Publish" asp-controller="Post" title="Share your picture">Share your picture</a>
        </li>
        <li class="btn_alert">
            <a asp-action="Index" asp-controller="Notification">
                Notifications
                @await Component.InvokeAsync("UnreadNotificationsCount", User.GetIdentifier())
                @*@{ var unreadNotificationsCount = Html.Action("Count", "Notification").ToString(); }
                @if (int.Parse(unreadNotificationsCount) > 0)
                {
                    <span> (@unreadNotificatiosCount)</span>
                }*@
            </a>
        </li>
        <li class="btn_user">
            <a asp-action="Profile" asp-controller="Account", asp-route-id="@User.Identity.Name" title="User profile">
                User profile
            </a>
        </li>
        <li class="btn_logout">
            <a asp-action="Logout" asp-controller="Account" title="Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul>
        <li class="btn_register">
            <a asp-action="Register" asp-controller="Account" title="Register">Register</a>
        </li>
        <li class="btn_login">
            <a asp-action="Login" asp-controller="Account" title="Login">Login</a>
        </li>
    </ul>
}