USE [master]
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'$(DatabaseName)')
BEGIN
    CREATE DATABASE [$(DatabaseName)]
    CONTAINMENT = PARTIAL
    ON PRIMARY 
    ( 
        NAME = N'$(DatabaseName)_Data'
        , FILENAME = N'$(StoragePath)$(DatabaseName)_Data.mdf' 
        , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB 
    )
    LOG ON 
    ( 
        NAME = N'$(DatabaseName)_Log'
        , FILENAME = N'$(StoragePath)$(DatabaseName)_Log.ldf' 
        , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB 
    )
END
GO
